:root {
  --accent: #1792D2;
  --dark-accent: #143774;
  --text-gray: #707070;
  --light-gray: #f8f8f8;
  --dark-gray: #717171;
  --sbar-bg: #EBEBEB;
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu bold", sans-serif;
  font-size: 16px;
  color: var(--text-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  color: var(--dark-accent);
}

a {
  color: var(--accent);
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* -----------------------------------------------------------------------
Main navigation styles 
-------------------------------------------------------------------------*/

.header {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  padding: 2em 0;
  margin: 0;
}

.site-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Lora", serif;
  font-size: 2rem;
  color: var(--dark-accent);
  margin: 0;
}

.header p {
  font-size: .75rem;
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  margin-top: .75em;
}

.nav-bar {
  padding: 1em 0;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-left: 2em;
}

.nav-link {
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-gray);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.nav-link:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-top: 10px;
  background-color: var(--accent);
  transition: all .3s ease;
}

.nav-link:hover:after {
  width: 100%;
}

@media (max-width: 600px) {
  .header {
    padding-bottom: 0;
  }

  .container-nav {
    flex-direction: column;
  }

  .nav-bar ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 1em;
  }
}

/* -----------------------------------------------------------------------
Main section styles 
-------------------------------------------------------------------------*/
.main {
  margin-top: 2em;
}

.main-post,
.post {
  margin-bottom: 3em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--text-gray);
}

.post-link {
  display: inline-block;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1em;
}

/* -----------------------------------------------------------------------
Sidebar styles 
-------------------------------------------------------------------------*/
.img-holder {
  height: 135px;
}

.img-holder img {
  height: 135px;
  object-fit: cover;
}

.sidebar {
  padding: 3em 0;
  padding-top: 0;
}

.sidebar h3 {
  font-family: "Ubuntu Bold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 3em;
}

.about-me,
.recent-posts {
  background-color: var(--sbar-bg);
  padding: 1.5rem;
}

.about-me__wrapper,
.recent-posts__wrapper {
  background-color: #fff;
  padding: 1rem;
}

.about-me {
  margin-bottom: 1rem;
  color: var(--dark-accent);
}

.recent-posts {
  color: var(--dark-accent);
}

.recent-posts__prev {
  border-bottom: 1px solid var(--text-gray);
  margin-bottom: 2em;
}

.recent-posts__prev:last-child {
  border: none;
}

/* -----------------------------------------------------------------------
Footer styles 
-------------------------------------------------------------------------*/
.footer {
  background-color: var(--dark-accent);
  margin: 0;
  padding: 2em 0;
}

.footer-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--accent);
}

.footer h5 {
  margin-bottom: .5em;
  color: var(--accent);
}

.footer-text p {
  margin: 0;
}