:root {
  --btn-bg: #ef5839;
  --hover-bg: #d4b44c;
  --hover-txt: #2e354f;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: var(--btn-bg);
  padding: 15px 30px;
  font-weight: 900;
  transition: all .3s ease;
}

.btn:hover,
.btn:focus {
  padding: 20px 40px;
  background-color: var(--hover-bg);
  color: var(--hover-txt);
  font-size: 20px;
}