:root {
  --accent: #05CBE9;
  --dark-accent: #111D4A;
  --text-color: #fff;
  --title: 'Blinker', sans-serif;
  --text: 'Source Sans Pro', sans-serif;
  --shadow: 7px 5px 20px -9px rgba(0, 0, 0, 0.75);
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #2A1A1F;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  text-align: center;
  color: white;
}

.my-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 80%;
  max-width: 800px;
  margin: 0 auto; */
  gap: 1rem;
}

.my-photos img {
  border: 0.1rem solid white;
  border-radius: 0.7rem;
}