:root {
  --snake: darkseagreen;
}

html,
body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 2px black;
  padding: 5px;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: var(--snake);
}